

.card_container {
    border-radius : 5px;
    background-color: #cfcfcf;   
    margin: 25px;
    padding: 15px;
    position: relative;
    /* box-shadow: 2px 2px 2px #6879af; */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius:    25px;
    border-top-right-radius:   25px; 
};


.plot_window {
    border-radius : 5px;
    background-color: rgb(231, 231, 231);
    /* margin: 25px;
    padding: 15px; */
    position: relative;
    /* box-shadow: 2px 2px 2px #6879af; */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius:    25px;
    border-top-right-radius:   25px; 
}

